<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="POST">
  <label for="username">Username
    <input type="text" name="user[user_name]" id="username" value="<%= @user.user_name %>">
  </label>

  <label for="password">Password
    <input type="password" name="user[password]" id="password" value="<%= @user.password %>">
  </label>

  <button>Sign Up!</button>
</form>